<nav class='navbar navbar-light bg-light'>
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

  <span class="navbar-text small">
    <% if user_signed_in? %>
      <%= t('.welcome', email_address: current_user.email) %> |
      <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to t('.sign_up'), new_user_registration_path %> |
        <%= link_to t('.log_in'), user_session_path %>
    <% end %> |
    <%= link_to t('.contacts'), email_messages_index_path %>
  </span>
</nav>
