<h1><%= t('.header') %></h1>

<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>
<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>
<p>
  <strong><%= t('.timer') %></strong>
  <%= @test.timer %>
</p>
<p>
  <strong><%= t('.questions') %></strong>
  <table>
    <tr>
      <th><%= t('.question_text') %></th>
      <th colspan="3"><%= t('.question_actions') %></th>
    </tr>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </table>
</p>

<%= link_to t('.back'), admin_tests_path %> |
<%= link_to t('.add_question'), new_admin_test_question_path(@test) %>
